{{# if products }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">
                        <span class="badge">{{ this.qty }}</span>
                        <img src="{{this.item.imagePath}}" width="100">
                        <strong>{{ this.item.title }}</strong>
                        <span class="label label-success">$ {{ this.price }}</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Option <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/reduce/{{this.item._id}}">Remove 1 item</a></li>
                                <li><a href="/remove/{{this.item._id}}">Remove all</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <hr>
    
{{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No shopping cart item</h2>
        </div>
    </div>
{{/if}}

{{!-- {{> /shop/shopping-cart }} --}}

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">


        <h1>Order</h1>
        <h4>Total: ${{total}}</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>


        <form action="/order" method="post" id="order-form">

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form-control" required name="email">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" class="form-control" required name="phone">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="delivery">Delivery Location</label>
                        <input type="text" id="delivery" class="form-control" required name="delivery">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <input type="textarea" id="comment" class="form-control" name="comment">
                    </div>
                </div>
                <hr>
            </div>

            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    </div>
</div>
<hr><hr><hr>